<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://az.imagekit.io/demo/img/http_test/h_61.jpg?ik-version=1553175418866">
  </body>
</html>
